<section class="container-fluid customer-table mt-3">
    <div class="table-header d-flex justify-content-between align-items-center">
        <p class="lead">Customers</p>
        <a href="/users/add" class="btn btn-outline-primary">Add new</a>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto@mdo</td>
                    <td>93293923029309</td>
                    <td>
                        <form class="d-flex">
                            <button
                                class="btn btn-outline-info me-2"
                                type="submit"
                            >Edit</button>
                            <button
                                class="btn btn-outline-danger"
                                type="submit"
                            >Delete</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton@fat</td>
                    <td>32323232323</td>
                    <td>
                        <form class="d-flex">
                            <button
                                class="btn btn-outline-info me-2"
                                type="submit"
                            >Edit</button>
                            <button
                                class="btn btn-outline-danger"
                                type="submit"
                            >Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>